# Xcode
DerivedData/
build/
*.xcuserdata
*.xccheckout
*.xcodeproj/project.xcworkspace/xcuserdata
*.xcodeproj/xcuserdata

# SwiftPM
.swiftpm/
Package.resolved

# CocoaPods
Pods/

# Carthage
Carthage/

# Fastlane
fastlane/report.xml
fastlane/screenshots
fastlane/test_output

# General
.DS_Store
*.log